/*
====================================================
	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
		JQUERY LIGHT BOX
	3. MENU
		MIDDLE AREA
		BOTTOM AREA
		DROPDOWN MENU STYLING
		DROPDOWN SUBMENU
		DROPDOWN HOVER 
	4. SLIDER
	5. FOOTER
====================================================

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

:root {
    --main-color: rgb(0, 134, 58);
    --red-color: #e45f74;
}

html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    touch-action: manipulation;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Bitter', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: inherit;
}

h1,
h2,
h3 {
    font-family: 'Great Vibes', cursive;
}

p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #555;
}

h1 {
    font-size: 5.5em;
    line-height: 1;
}
h2 {
    font-size: 3em;
    line-height: 1.1;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 0.9em;
    letter-spacing: 1px;
}

a,
button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    line-height: 1;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
    text-decoration: none;
    color: var(--main-color);
}

img {
    width: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

b.light-color {
    color: #444;
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit;
}

.icon-svg {
    height: 4em;
    width: auto;
}

.icon-svg-small {
    height: 1.5em;
    width: auto;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    line-height: inherit;
}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.btn {
    padding: 15px 30px;
    border-radius: 1px;
    letter-spacing: 2px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: #fff;
}

.btn:hover {
    color: var(--main-color);
    background: none;
}

.btn-2 {
    font-size: 0.9em;
    padding: 15px 30px;
    border-radius: 1px;
    letter-spacing: 2px;
    border: 1px solid var(--main-color);
}

.btn-2:hover {
    background: var(--main-color);
    color: #fff;
}

.border-btn {
    font-size: 0.9em;
    padding-bottom: 5px;
    background: none;
    color: inherit;
    border: 0;
    position: relative;
    overflow: hidden;
}

.border-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transition: all 0.3s;
    background: var(--main-color);
}

.border-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateX(-130%);
    transition: all 0.3s;
    background: var(--main-color);
}

.border-btn:hover:after {
    transform: translateX(130%);
}

.border-btn:hover:before {
    transform: translateX(0%);
}

.section {
    padding: 100px 0 70px;
}

.section .heading {
    padding-bottom: 40px;
}

.section .heading .icon {
    font-size: 18px;
    margin-top: 20px;
    color: var(--main-color);
}

.section .heading .icon.color-white {
    color: #fff;
}

.section .heading .heading-bottom {
    margin-top: 20px;
    display: inline-block;
    width: 160px;
    height: 20px;
    line-height: 20px;
    position: relative;
}

.section .heading .heading-bottom .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -9px;
}

.section .heading .heading-bottom:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5px;
    height: 1px;
    width: 60px;
    background: #aaa;
}

.section .heading .heading-bottom:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5px;
    height: 1px;
    width: 60px;
    background: #aaa;
}

.section .margin-bottom {
    margin-bottom: 30px;
}

.center-text {
    text-align: center;
}

.color-white {
    color: #fff;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    font-size: 0.9em;
    letter-spacing: 1px;
}

::-moz-placeholder {
    font-size: 0.9em;
    letter-spacing: 1px;
}

:-ms-input-placeholder {
    font-size: 0.9em;
    letter-spacing: 1px;
}

:-moz-placeholder {
    font-size: 0.9em;
    letter-spacing: 1px;
}

/* ---------------------------------
3. MENU
--------------------------------- */

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1000;
    font-size: 0.95em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* MIDDLE AREA */

header .logo {
    margin: 15px 0 10px;
    height: 40px;
    font-family: 'Great Vibes', cursive;
    font-size: xx-large;
}

header .logo:hover {
    color: #fff;
}

/* BOTTOM AREA */

header .main-menu {
    font-weight: 500;
    float: right;
    margin: 0px -15px;
}

header .main-menu > li > a {
    height: 50px;
    line-height: 46px;
    padding: 0 15px;
    border: 2px solid transparent;
    border-radius: 2px;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
}

header .visible.main-menu {
    display: block;
}

/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down {
    position: relative;
    text-align: left;
}

header .main-menu li.drop-down > ul.drop-down-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 200px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    background: rgb(150, 150, 150);
}

header .main-menu li.drop-down > ul.drop-down-menu li {
    display: block;
    border-top: 1px solid #444;
}

header .main-menu li.drop-down > ul.drop-down-menu li > a {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
}

header .main-menu li.drop-down > ul.drop-down-inner li:first-child {
    border-top: 0;
}

header .main-menu li i {
    margin-left: 10px;
}

/* DROPDOWN SUBMENU */

header .main-menu li.drop-down > ul.drop-down-inner {
    top: 0;
    left: auto;
    left: 100%;
}

/* DROPDOWN HOVER */

header .main-menu > li > a:hover {
    border-color: #fff;
}

header .main-menu li a.mouseover {
    border-color: #fff;
}

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu {
    display: block;
    animation: full-opacity-anim 0.2s forwards;
}

@keyframes full-opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* NAV ICON */

.menu-nav-icon {
    display: none;
    height: 60px;
    width: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-size: 1.8em;
}

/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider {
    position: relative;
    z-index: 1;
    background-size: cover;
    color: #fff;
}

.main-slider:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

/* ---------------------------------
5. FOOTER
--------------------------------- */

footer {
    position: relative;
    z-index: 1;
    padding-top: 70px;
}

footer:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url(../images/Background_Circle.png);
}

footer ul > li > a {
    padding: 10px 15px;
}

footer .copyright {
    padding: 20px 0 30px;
}
