/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider {
    height: 100vh;
    background-image: url(../images/slider-1600x900.webp);
    background-position: 71% center;
}

.slider-content {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
}

.slider-content .date {
    margin: 10px 0 0;
    text-transform: uppercase;
}

.slider-content i {
    line-height: 1;
}

.slider-content .title i {
    transform: translateY(10px);
    font-size: 0.8em;
    color: var(--main-color);
}

/* ---------------------------------
5. STORY AREA
--------------------------------- */

.story-area {
    position: relative;
    z-index: 1;
}

.story-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/Background_Circle.png);
}

/* ---------------------------------
6. REMAINING TIME
--------------------------------- */

.counter-area {
    position: relative;
    z-index: 1;
    background-image: url(../images/countdown.webp);
    background-size: cover;
    background-position: 50%;
    color: #fff;
}

.counter-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.remaining-time .time-sec {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 30px;
    height: 120px;
    width: 120px;
    padding-top: 25px;
    border-radius: 100px;
    border: 1px solid #fff;
}

.remaining-time .time-sec .title {
    font-size: 3em;
    line-height: 1;
    display: block;
}

/* ---------------------------------
7. WEDDING DETAILS AREA
--------------------------------- */

.w-details-area {
    position: relative;
    z-index: 1;
}

.w-details-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/Background_Circle.png);
}

.wedding-details {
    overflow: hidden;
    position: relative;
}

.wedding-details:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5px;
    width: 1px;
    background: #ccc;
}

.w-detail {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 30px;
    position: relative;
    clear: both;
    margin-top: -40px;
}

.w-detail:first-child {
    margin-top: 0;
}

.w-detail:last-child {
    margin-bottom: 0;
}

.w-detail:after {
    content: '';
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid #aaa;
    background: #fff;
}

.w-detail.right {
    text-align: left;
    float: right;
}

.w-detail.right:after {
    left: 0;
    margin-left: -9px;
}

.w-detail.left {
    text-align: right;
    float: left;
}

.w-detail.left:after {
    right: 0;
    margin-right: -9px;
}

.w-detail .title {
    margin: 10px 0;
}

.w-detail .icon {
    font-size: 3.5em;
    line-height: 1;
    color: var(--main-color);
}

/* ---------------------------------
8. BUSES AREA
--------------------------------- */

.buses-area {
    position: relative;
    z-index: 1;
}

.buses-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/Background_Circle.png);
}

/* ---------------------------------
9. ACCOMMODATION AREA
--------------------------------- */

.accommodation-area {
    position: relative;
    z-index: 1;
    background-image: url(../images/bedroom.webp);
    background-size: cover;
    color: #fff;
    background-position: 50% 55%;
}

.accommodation-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.accommodation .desc {
    margin-bottom: 15px;
    color: #fff;
}

.hotels {
    display: flex;
}

.hotel {
    width: 50%;
    margin: 2em auto;
}

.hotel a {
    /* color: var(--main-color); */
}

/* ---------------------------------
10. CEREMONY AREA
--------------------------------- */

.ceremony-area {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ceremony-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/Background_Circle.png);
}

.ceremony-area .location {
    color: var(--main-color);
}

.map-area {
    padding: 0px;
}

.map-area iframe {
    height: 100%;
    width: 100%;
}

.celebration-area {
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.4);
}

.celebration-area > div {
    position: relative;
    z-index: 1;
    background-image: url(../images/vinedos.webp);
    background-size: cover;
    background-position: 20% 50%;
    color: #fff;
}

.celebration-area > div:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.celebration-area p {
    color: #fff;
}

.location {
    font-size: 1.6em;
}

/* ---------------------------------
11. ATTENDANCE AREA
--------------------------------- */

.attendance-area {
    position: relative;
    z-index: 1;
    background-image: url(../images/friends.webp);
    background-size: cover;
    color: #fff;
    background-position: 42% 56%;
}

.attendance-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.attendance .desc {
    margin-bottom: 15px;
    color: #fff;
}

/* ---------------------------------
12. CONTACT AREA
--------------------------------- */

.contact-area {
    position: relative;
    z-index: 1;
}

.contact-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/Background_Circle.png);
}

.contact-area .phone {
    margin: 10px 0;
    color: var(--main-color);
}

.contact-area .email {
    margin: 10px 0;
}

/* ---------------------------------
11. FORMS
--------------------------------- */

.form {
    margin: auto;
    padding: 50px 40px;
    border-radius: 5px;
    box-shadow: 1px 15px 40px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    overflow: hidden;
}

.form .pre-title {
    margin: 10px 0;
    color: var(--main-color);
}

.form input[type='text'] {
    display: block;
    width: 100%;
}

.form .margin-bottom {
    margin-bottom: 10px;
}

.form input:not([type='radio']) {
    line-height: 38px;
    height: 38px;
    padding: 0 15px;
}

.form input:not([type='radio']),
textarea {
    padding: 10px 15px;
}

.form .btn {
    padding: 0px 30px;
    line-height: 43px;
    height: 45px;
    margin-top: 10px;
    border-radius: 2px;
}

input#asistencia-no,
input#autobus-no {
    margin-left: 3em;
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }

    /* ---------------------------------
	3. MENU
	--------------------------------- */
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

    p {
        line-height: 1.4;
    }

    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.8em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.2em;
    }

    /* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

    .section {
        padding: 50px 0 20px;
    }

    .section .heading {
        padding-bottom: 20px;
    }

    .section .heading .heading-bottom {
        margin-top: 10px;
    }

    /* ---------------------------------
	3. MENU
	--------------------------------- */

    header {
        top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* BOTTOM AREA */

    header .main-menu {
        text-align: left;
        display: none;
        float: none;
        clear: both;
        max-height: 400px;
        overflow: auto;
        border-top: 1px solid #ccc;
        background: #333;
    }

    header .main-menu > li {
        display: block;
        float: none;
        border-bottom: 1px solid #444;
    }

    header .main-menu > li:last-child {
        border-bottom: 0;
    }

    header .main-menu li > a {
        display: block;
        border: 0;
        line-height: 1;
        height: auto;
        padding: 15px;
        background: none;
    }

    /* DROPDOWN  */

    header .main-menu li.drop-down > ul.drop-down-menu {
        position: static;
        box-shadow: none;
    }

    header .main-menu li.drop-down > ul.drop-down-inner li:first-child {
        border-top: 1px solid #444;
    }

    /* DROPDOWN HOVER */

    header .main-menu li.drop-down > ul.drop-down-menu li a {
        padding-left: 25px;
    }

    header .main-menu li.drop-down > ul.drop-down-inner li a {
        padding-left: 35px;
    }

    /* NAV ICON */

    .menu-nav-icon {
        display: inline-block;
        float: right;
    }

    /* ---------------------------------
	4. FOOTER
	--------------------------------- */

    footer ul > li > a {
        padding: 10px 7px;
    }

    .ceremony-area,
    .celebration-area,
    .hotels {
        display: inherit;
    }
    .map-area {
        height: 23em;
    }

    .ceremony-area .map-area {
        margin-bottom: 3em;
    }

    .hotel {
        width: 100%;
    }

    /* ---------------------------------
	7. WEDDING DETAILS AREA
	--------------------------------- */

    .wedding-details {
        margin-left: 15px;
        overflow: visible;
    }

    .wedding-details:after {
        left: 0;
        margin-left: 0px;
    }

    .w-detail {
        width: 100%;
        padding: 0 0 0 30px;
        margin: 0 0 30px;
    }

    .w-detail.left,
    .w-detail.right {
        text-align: left;
        float: none;
    }

    .w-detail.right:after,
    .w-detail.left:after {
        left: 0;
        margin-left: -9px;
    }
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
    body {
        font-size: 14px;
    }
}
