/*
====================================================
	4. SLIDER
	5. STORY AREA
	6. REMAINING TIME
	7. WEDDING DETAILS AREA
	8. WEDDING CEREMONY
	9. CONTACT AREA
	10. VIEW GALLERY
====================================================

/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider {
    height: 100vh;
    background-image: url(../images/slider-1600x900.webp);
    background-position: 71% center;
}

.slider-content {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
}

.slider-content .date {
    margin: 10px 0 0;
    text-transform: uppercase;
}

.slider-content i {
    line-height: 1;
}

.slider-content i.small-icon {
    font-size: 2.5em;
}

.slider-content .title i {
    transform: translateY(10px);
    font-size: 0.8em;
    color: var(--main-color);
}

/* ---------------------------------
5. STORY AREA
--------------------------------- */

.story-area {
    position: relative;
    z-index: 1;
}

.story-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url(../images/Background_Circle.png);
}

/* ---------------------------------
6. REMAINING TIME
--------------------------------- */

.counter-area {
    position: relative;
    z-index: 1;
    background-image: url(../images/counter-1-1600x600.webp);
    background-size: cover;
    color: #fff;
}

.counter-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.remaining-time .time-sec {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 30px;
    height: 120px;
    width: 120px;
    padding-top: 25px;
    border-radius: 100px;
    border: 1px solid #fff;
}

.remaining-time .time-sec .title {
    font-size: 3em;
    line-height: 1;
    display: block;
}

/* ---------------------------------
7. WEDDING DETAILS AREA
--------------------------------- */

.wedding-details {
    overflow: hidden;
    position: relative;
}

.wedding-details:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.5px;
    width: 1px;
    background: #ccc;
}

.w-detail {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 30px;
    position: relative;
    clear: both;
    margin-top: -40px;
}

.w-detail:first-child {
    margin-top: 0;
}

.w-detail:last-child {
    margin-bottom: 0;
}

.w-detail:after {
    content: '';
    position: absolute;
    top: 0;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid #aaa;
    background: #fff;
}

.w-detail.right {
    text-align: left;
    float: right;
}

.w-detail.right:after {
    left: 0;
    margin-left: -9px;
}

.w-detail.left {
    text-align: right;
    float: left;
}

.w-detail.left:after {
    right: 0;
    margin-right: -9px;
}

.w-detail .title {
    margin: 10px 0;
}

.w-detail .icon {
    font-size: 3.5em;
    line-height: 1;
    color: var(--main-color);
}

/* ---------------------------------
8. WEDDING CEREMONY
--------------------------------- */

.w-ceremony-area {
    position: relative;
    z-index: 1;
    background-image: url(../images/counter-1-1600x600.webp);
    background-size: cover;
    color: #fff;
}

.w-ceremony-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.w-ceremony .desc {
    margin-bottom: 15px;
    color: #fff;
}

/* ---------------------------------
10. CEREMONY AREA
--------------------------------- */

.ceremony-area {
    display: flex;
    overflow: hidden;
    background: url(../images/Background_Circle.png);
}

.ceremony-area .location {
    font-size: 1.6em;
    color: var(--main-color);
}

.map-area {
    padding: 0px;
}

.map-area iframe {
    height: 100%;
    width: 100%;
}

.celebration-area {
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.4);
}

.celebration-area > div {
    position: relative;
    z-index: 1;
    background-image: url(../images/vinedos.webp);
    background-size: cover;
    color: #fff;
}

.celebration-area > div:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.celebration-area p {
    color: #fff;
}

.celebration-area .location {
    font-size: 1.6em;
}

/* ---------------------------------
11. ASSISTANCE AREA
--------------------------------- */

.assistance-area {
    /* position: relative;
    z-index: 1; */
}

.assistance-area:after {
    /* content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url(../images/Background_Circle.png); */
}

/* ---------------------------------
12. CONTACT AREA
--------------------------------- */

.contact-area {
    position: relative;
    z-index: 1;
}

.contact-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url(../images/Background_Circle.png);
}

.contact-area .phone {
    margin: 10px 0;
    color: var(--main-color);
}

.contact-area .email {
    margin: 10px 0;
}

/* ---------------------------------
11. FORMS
--------------------------------- */

.contact-area .form,
.assistance-area .form {
    margin: auto;
    padding: 50px 40px;
    border-radius: 5px;
    box-shadow: 1px 15px 40px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.form .pre-title {
    margin: 10px 0;
    color: var(--main-color);
}

.form input[type='text'] {
    display: block;
    width: 100%;
}

.form .margin-bottom {
    margin-bottom: 20px;
}

.form input:not([type='radio']),
.form select {
    line-height: 45px;
    height: 45px;
    padding: 0 15px;
}

.form .btn {
    padding: 0px 30px;
    line-height: 43px;
    height: 45px;
    margin-top: 10px;
    border-radius: 2px;
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .ceremony-area,
    .celebration-area {
        display: inherit;
    }
    .map-area {
        height: 23em;
    }

    .ceremony-area .map-area {
        margin-bottom: 3em;
    }

    /* ---------------------------------
	7. WEDDING DETAILS AREA
	--------------------------------- */

    .wedding-details {
        margin-left: 15px;
        overflow: visible;
    }

    .wedding-details:after {
        left: 0;
        margin-left: 0px;
    }

    .w-detail {
        width: 100%;
        padding: 0 0 0 30px;
        margin: 0 0 30px;
    }

    .w-detail.left,
    .w-detail.right {
        text-align: left;
        float: none;
    }

    .w-detail.right:after,
    .w-detail.left:after {
        left: 0;
        margin-left: -9px;
    }
}
