/*
====================================================
	1. SLIDER
	2. CONTACT AREA
====================================================
/* ---------------------------------
1. SLIDER
--------------------------------- */

.main-slider {
    height: 500px;
    background-image: url(../../images/counter-1-1600x600.webp);
}

.main-slider .pre-title {
    color: #e45f74;
}

/* ---------------------------------
2. CONTACT AREA
--------------------------------- */

.contact-area {
    position: relative;
    z-index: 1;
}

.contact-area:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url(../../images/Background_Circle.png);
}

.contact-area .phone {
    margin: 10px 0;
    color: #e45f74;
}

.contact-area .email {
    margin: 10px 0;
}

.contact-area .contact-form {
    padding: 50px 40px;
    border-radius: 5px;
    box-shadow: 1px 15px 40px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.contact-form .pre-title {
    margin: 10px 0;
    color: #e45f74;
}

.contact-form input,
.contact-form select,
.contact-form label {
    display: block;
    width: 100%;
}

.contact-form .margin-bottom {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form select {
    line-height: 45px;
    height: 45px;
    padding: 0 15px;
}

.contact-form .btn {
    padding: 0px 30px;
    line-height: 43px;
    height: 45px;
    margin-top: 10px;
    border-radius: 2px;
}

